.swiper-container{
  background-color: wheat;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  


}

.SwiperDiv{
    background-color: beige;
    width: 100%;
    height: 100%;
  
}


.user-image{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .user-photo{
    border-radius: 50px;
    align-items: center;
    width: 100px;
  }
  
  .user-testimonial{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  